* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.create_user_header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.create_user_form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_user_form p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.create_user_form p label {
    margin-bottom: 1rem;
}
.create_user_form p input {
    padding: .5rem 2rem;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    border-radius: 5px;
}
.create_user_form p textarea {
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    border-radius: 5px;
}
.submit-btn {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}
.submit-btn button {
    padding: .7rem 2.5rem;
    border: none;
    outline: none;
    background: #4285f4;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    border-radius: 7px;
    color: white;
    font-weight: bolder;
    transition: all .3s ease-in;
    cursor: pointer;
}
.submit-btn button:hover {
    transform: scale(1.05);
}