{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/postdetail.css' %}">
</head>
<body>
    <div class="post-detail-container">
        <div class="post">
            <div class="post-detail-left">
                <div class="left-header">
                    <img src="{{ post.author.profile_Picture.url }}" class="author-profile-picture">
                    <p class="author-name">@{{ post.author.username }}</p>
                </div>
                <div class="left-image">
                    <img src="{{ post.image.url }}" class="post-image">
                </div>
            </div>
            <div class="post-detail-right">
                <div class="post-desc">
                    <p>{{ post.content }}</p>
                </div>
                <div class="comment-section">
                    <div class="comment-header">
                        <h1>Comments</h1>
                    </div>
                    <div class="comment">
                        <p>comment1</p>
                    </div>
                </div>
                <div class="add-comment">
                    <input type="text" placeholder="Enter comment">
                    <button>Post</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>